/******global ******/

header {
    height: 100px;
    -webkit-box-shadow: 0 13px 30px -5px grey;
    -moz-box-shadow: 0 13px 30px -5px grey;
    box-shadow: 0 13px 30px -5px grey;
    padding-top: 25px;
    padding-left: 35px;
}

ul li {
    list-style: none;
}

ul {
    padding: 0;
}

.cwf p {
    margin: 0;
    padding: 10px;
    font-weight: bold;
}

footer {
    background-color: rgb(45,45,45);   
}

main {
    padding-top: 30px;
    padding-bottom: 30px;
}

.chatgeneral {
    -moz-box-shadow:    0px 2px 5px 2px darkgray;
    -webkit-box-shadow: 0px 2px 5px 2px darkgray;
    box-shadow:         0px 2px 5px 2px darkgray;
    height: 600px;
}

.chatimg.col-md-4 {
    padding: 0;
}

.chatlogs.col-md-8 {
    padding: 0;
}

.chatimg {
    padding: 0px;
}

.chatimg img {
    border-radius: 50%;
    width: 65px;
    height: 65px;
}

.chatimg ul li {
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    padding: 15px;
}

.chat {
    height: 550px;
    border-left: 1px solid lightgray;
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chat-message {
    width: 40%;
    padding: 15px;
    margin: 10px 50px 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
}

footer a{
    color: gray;
    font-weight: bold;
    
}

.logofooter {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 2px solid gray;
}

.socialicons ul li {
    text-decoration: none;
    display: inline-block;
    float: right;
}

.paragraph {
    width: 50%;
    display: inline-block;
    float: left;
    color: gray;
    font-weight: bold;
}

.socialicons {
    float: right;
    display: inline-block;
    width: 50%;
}

.footerlinks {
    padding-top: 20px;
    padding-bottom: 30px;
    line-height: 30px;
}

/********** CHAT ******/

.chat-form {
    background-color: rgb(0, 128, 193);
}

.chat-form textarea {
    width: 85%;
    height: 35px;
    display: inline-block;
    background: #fbfbfb;
    border: 2px solid #eee;
    resize: none;
    padding: 5px;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 2px;
    margin-left: 20px;
    border-radius: 5px
}

.chat-form button {
    width: 8%;
    height: 35px;
    display: inline-block;
    float: right;
    margin-top: 8px;
    margin-right: 30px;
    color: rgb(0, 128, 193);
    font-weight: bold;
    border-radius: 5px;
    background-color: white;
}


.mychat .chat-message {
    background: rgb(0, 128, 193);
    float: right;
}

.friendchat .chat-message {
    background: gray;
}

.personname {
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

.personname img {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.test {
    display: inline-block;
}

.test p {
    margin: 0;
}

.name {
    font-weight: bold;
}